body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.pbn {
  padding-bottom: 0;
}

.pbs {
  padding-bottom: 5px;
}

.pbm {
  padding-bottom: 10px;
}

.pbl {
  padding-bottom: 20px;
}

.ptn {
  padding-top: 0;
}

.pts {
  padding-top: 5px;
}

.ptm {
  padding-top: 10px;
}

.ptl {
  padding-top: 20px;
}

.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pvl {
  padding-top: 20px;
  padding-bottom: 20px;
}


fieldset .row {
  padding: 5px;
}