{% set activePage = 'schedule' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Admin Home{% endblock %}

{% block content %}
  <div class="page-header pbn"><h4>Admin Home</h4></div>

  <ul>
    <li>Start New Season</li>
    <li>Add Athlete</li>
    <li>Add Track Meet</li>
    <li>Edit Track Meet Events</li>
  </ul>
{% endblock %}