{% extends "base.twig" %}

{% block title %}{% block pageTitle %}{% endblock %} - Nueva Mavericks Track &amp; Field Team{% endblock %}

{% block header %}
  <!-- Custom styles for this template -->
  <link href="/assets/css/base.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nueva Mavericks Track</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if activePage == 'home' %}class="active"{% endif %}><a href="/track">Home</a></li>
        <li {% if activePage == 'schedule' %}class="active"{% endif %}><a href="/track/schedule">Meet Schedule</a></li>
        <li {% if activePage == 'athletes' %}class="active"{% endif %}><a href="/track/athletes">Athletes</a></li>
        <li class="dropdown {% if activePage == 'records' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/track/records">School Records</a></li>
            <li><a href="/track/records?grade=9">Freshman Records</a></li>
            <li><a href="/track/records?grade=10">Sophomore Records</a></li>
            <li><a href="/track/records?grade=11">Junior Records</a></li>
            <li><a href="/track/records?grade=12">Senior Records</a></li>
          </ul>
        </li>
        <li {% if activePage == 'resources' %}class="active"{% endif %}><a href="/track/resources">Resources</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}
