{% set activePage = 'home' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Home{% endblock %}

{% block content %}
  {% for announcement in announcements %}
    <div class="well">
      <div style="padding-bottom: 10px;">
        <strong>
          {{ announcement.date }}<br>
          {{ announcement.author }}
        </strong>
      </div>
      <div>{{ announcement.content|raw }}</div>
    </div>
  {% endfor %}
{% endblock %}