{% set activePage = 'resources' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Resources{% endblock %}

{% block content %}

  <div class="page-header pbn">
    <h2>Track &amp; Field Resources</h2>
  </div>

  <ul>
    <li><a href="http://www.nuevaschool.org" target="_blank">Nueva Website</a></li>
    <li><a href="http://www.runnersworkshop.com/lake-tahoe-camp/" target="_blank">Lake Tahoe Runner's Workshop</a></li>
  </ul>
{% endblock %}